/* color variable */
:root {
    --primary-color: rgba(85, 107, 47, 1);
    --secondary-color: rgba(139, 154, 87, 1);
    --tertiary-color: rgba(51, 90, 53, 1);
    --dark-color: rgba(58, 55, 48, 1);
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1,
h2 {
    font-family: "Josefin Sans", sans-serif;
}

h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1.2rem;
}

html {
    font-size: 100%;
}

/* 4K screen */
@media screen and (min-width:2200px) {
    html {
        font-size: 140%;
    }
}

/* Small laptop screen */
@media screen and (max-width:1024px) {
    html {
        font-size: 90%;
    }
}

/* Tablet screen*/
@media screen and (max-width:850px) {
    html {
        font-size: 85%;
    }
}

/* Mobile screen */
@media screen and (max-width:500px) {
    html {
        font-size: 65%;
    }
}

.page-title {
    font-size: 3.2rem;
    padding: 2rem 0;
    text-align: center;
    color: var(--dark-color)
}

/* Center alert message */
.alert-container {
    text-align: center;
}

.alert {
    display: inline-flex;
    width: fit-content;
}

.alert .btn-close {
    padding-left: 2rem;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.label-input-form {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 1rem;
    font-weight: 450;
}

.input-form {
    font-family: "Hind Siliguri", sans-serif;
    width: 80vw;
    max-width: 400px;
    border: none;
    padding: 0.4rem 0.6rem;
    background-color: rgb(227, 227, 227);
    color: var(--dark-color)
}

.input-password-instruction {
    max-width: 400px;
    font-size: 0.7rem;
}

textarea {
    resize: none;
}

button {
    font-family: "Hind Siliguri", sans-serif;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 2.8rem;
    border: none;
    border-radius: 5px;
}

.button-container {
    padding-top: 0.7rem;
    margin: 0;
    gap: 0;
    text-align: center;
}

.button-crud {
    display: inline-flex;
}

.button-crud:last-of-type {
    margin-top: 1rem;
    margin-bottom: 2rem;
}






/* Header */
.navbar {
    background-color: var(--tertiary-color);
}

.logo {
    font-family: "Grandstander", cursive;
    font-size: 2rem;
    color: white;
    margin-right: 2.5rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
}

.header-link {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 0rem 1rem;
}


@media screen and (max-width:991px) {
    .header-link {
        padding: 0.4rem 0rem 0.4rem 0.5rem;
    }
}





/* Footer */
footer {
    width: 100%;
    height: auto;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.adresse-footer,
.horaires-footer {
    text-align: center;
}

.adresse-footer h6,
.horaires-footer h6 {
    font-size: 0.9rem;
}

.adresse-footer p,
.horaires-footer td,
.horaires-footer th,
.copyright {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.horaires-footer th {
    text-align: left;
    padding-right: 1.5rem;
}

.copyright {
    text-align: center;
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 500px) {
    .container-footer {
        flex-direction: column;
        gap: 1rem;
    }

    .horaires-footer table {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}





/* Page not found  */
.unfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unfound-text {
    color: var(--dark-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 3rem;
}

.unfound-img {
    width: 30vw;
    height: auto;
    margin-top: 5rem;
}

@media screen and (max-width:760px) {
    .unfound-img {
        width: 50vw;
    }
}





/* Homepage */
#carousel {
    height: auto;
}

.carousel-img {
    object-fit: cover;
    height: 75vh;
    width: 100vw;
}

.welcome-text {
    height: auto;
    background-color: white;
    color: var(--dark-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    margin: 0;
    padding: 0.5rem 0rem;
}

/* zoo presentation */
.homepage-presentation {
    height: auto;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.homepage-presentation p {
    width: 40vw;
    font-size: 1.2rem;
    color: white;
}

.homepage-presentation img {
    object-fit: cover;
    height: 30vw;
    min-height: 120px;
    max-height: 560px;
    width: auto;
    border-radius: 1.25rem;
}

@media screen and (max-width: 770px) {
    .homepage-presentation {
        padding: 1.2rem 0;
    }

    .homepage-presentation p {
        width: 50vw;
    }
}

/* Habitat presentation */
.homepage-habitat {
    height: auto;
    background-color: var(--primary-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.homepage-habitat h2 {
    font-size: 2rem;
}

.homepage-habitat p {
    width: 70%;
    text-align: center;
}

.homepage-habitat p,
.homepage-habitat h5 {
    font-size: 1.2rem;
}

.hp-hab {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.hp-marais,
.hp-jungle,
.hp-savane {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem
}

.homepage-habitat img {
    object-fit: cover;
    height: 19rem;
    width: 13rem;
    border-radius: 1.25rem;
}

.hp-jungle img {
    object-position: 60%;
}

@media screen and (max-width: 1020px) {

    .hp-hab {
        margin-top: 1rem;
        gap: 5rem
    }

    .homepage-habitat img {
        width: 10rem;
        height: 4.5rem;
    }

    .hp-marais img {
        object-position: 50% 85%;
    }
}

@media screen and (max-width: 650px) {
    .hp-hab {
        margin-top: 1rem;
        flex-direction: column;
        gap: 0.3rem
    }

    .homepage-habitat img {
        width: 160px;
        height: 70px;
    }
}

/* Comments */
/* comment form */
.comment-section {
    width: 100%;
    color: var(--dark-color);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-comment {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem
}

/* comment lists */
.comments-lists {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.comment-container {
    width: 100%;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-top: 2px solid var(--dark-color);
    display: grid;
    grid-template: repeat(2, 50%)/ 85% 15%;
    row-gap: 1rem;
}

.pseudo {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 900;
}

.date {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    font-size: 0.85rem;
}

.comment {
    grid-area: 2 / 1 / 3 / 3;
}

.pseudo,
.comment,
.date {
    margin: 0;
}








/* Services */
.service {
    margin: 2rem 0rem;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.service:nth-of-type(even) .service-content {
    flex-direction: row-reverse;
}

.service-title {
    margin-bottom: 2rem;
    font-weight: 700;
}

.service-description {
    width: 40vw;
    background-color: var(--tertiary-color);
    height: auto;
    color: white;
    font-size: 1.2rem;
    padding: 2rem;
    border-radius: 5px;
}

.service-img {
    width: 30vw;
    height: auto;
    align-self: center;
}

.service-description-additional {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

/* services form */
.service-form {
    padding-top: 0;
    padding-bottom: 1.4rem;
    border: 1px solid var(--dark-color);
    margin: 2rem 3rem;
    row-gap: 0;
}

.service-form label {
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.service-info-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

#service-form-img {
    padding-top: 0.5rem;
}

.service-form-button {
    display: inline-flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

/*
.service-add-container {
    text-align: center;
}

.service-add-button {
    display: inline-flex;
}

.service-add-button:last-of-type {
    margin-bottom: 2rem;
}*/

@media screen and (max-width:1030px) {

    .service-content,
    .service:nth-of-type(even) .service-content {
        flex-direction: column-reverse;
        gap: 0rem
    }

    .service-img,
    .service-description,
    .service-description-additional {
        width: 50vw;
    }
}

@media screen and (max-width:600px) {

    .service-img,
    .service-description,
    .service-description-additional {
        width: 70vw;
    }

    .service-content {
        gap: 0rem;
    }
}












/* Habitats list */
.habitats-container {
    margin: 0vh 20vw 10vh 20vw;
    padding-top: 3rem;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    column-gap: 8rem;
    row-gap: 4rem;
    justify-content: center;
}

.habitat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.habitat-img {
    width: 16rem;
    height: 40vh;
    object-fit: cover;
    border-radius: 20px;

}

.habitat-label {
    color: var(--dark-color);
    padding-top: 0.5rem;
}

@media screen and (max-width:1000px) {
    .habitats-container {
        grid-template: 1fr/ 1fr 1fr;
    }

    .habitat-img {
        width: 14rem;
        height: 35vh;
    }
}

@media screen and (max-width:530px) {
    .habitats-container {
        column-gap: 3rem;
    }

    .habitat-img {
        width: 12rem;
        height: 22vh;
    }
}







/* animals list in Habitat */
.habitat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habitat-description {
    background-color: var(--primary-color);
    color: white;
    width: 80vw;
    height: auto;
    text-align: justify;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
}

.habitat-animals-list {
    margin-top: 8rem;
    margin-bottom: 10rem;
    width: 80vw;
    display: grid;
    grid-template: 1fr / repeat(4, auto);
    gap: 3rem;
}

.habitat-animal {
    background-color: var(--secondary-color);
    width: 15vw;
    height: auto;
    color: var(--dark-color);
    text-decoration: none;
    justify-self: center;
}

.habitat-animal-img {
    object-fit: cover;
    width: 100%;
    height: 20vh;
}

.habitat-animal-name,
.habitat-animal-race {
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.habitat-animal-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.habitat-animal-race {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width:1320px) {
    .habitat-animals-list {
        grid-template-columns: repeat(3, auto);
    }

    .habitat-animal {
        width: 20vw;
    }
}

@media screen and (max-width:830px) {
    .habitat-animals-list {
        grid-template-columns: repeat(2, auto);
    }

    .habitat-animal {
        width: 30vw;
    }
}

@media screen and (max-width:425px) {
    .habitat-animals-list {
        grid-template-columns: repeat(1, auto);
    }

    .habitat-animal {
        width: 60vw;
    }
}







/* Animal description */
.animal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-img {
    object-fit: cover;
    width: 20rem;
    height: 35rem;
}

.animal-description {
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}





/* Practical information */
.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.infos-location {
    width: 60%;
    max-width: 800px;
}

.infos-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 3rem 0;
}

.infos-container-separator {
    background-color: var(--dark-color);
    width: 0.1rem;
}

.infos-opening-hours h3,
.infos-address h3 {
    padding-bottom: 2rem;
}

.infos-opening-hours p {
    text-align: justify;
}

.infos-parking {
    width: 500px;
}

.infos-parking h3 {
    padding-bottom: 1rem;
}

.infos-parking p {
    font-weight: 550;
}







/* Login page */
.login-info {
    text-align: center;
    margin-bottom: 3rem;
}












/* Dashboard */
.dashboard-container {
    margin-bottom: 4rem;
    display: grid;
    grid-template: 1fr / repeat(3, min-content);
    row-gap: 6rem;
    justify-content: center;
}

.dashboard-section {
    width: 80vw;
    min-width: min-content;
    max-width: max-content;
    height: auto;
    padding: 1rem 2rem;
    border: 2px solid var(--dark-color);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-section:first-of-type {
    justify-self: center;
    grid-column: 1/4;
}

.dashboard-section:nth-of-type(3) {
    margin-left: 4rem
}

.dashboard-section h4 {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.7rem;
}

.dashboard-section button {
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1320px) {
    .dashboard-container {
        grid-template-columns: repeat(2, min-content);
    }
}

@media screen and (max-width:830px) {
    .dashboard-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dashboard-section:nth-of-type(3) {
        margin-left: 0rem;
    }
}

@media screen and (max-width:385px) {
    .dashboard-section {
        padding: 0.5rem 1rem;
        width: 80vw;
    }

    .dashboard-section h4 {
        font-size: 1.2rem;
    }
}

/* users list */
.dashboard-users-list {
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.dashboard-users-list th {
    font-weight: 700;
}

.dashboard-users-list tr:first-of-type td {
    border-top: 2px solid black;
}

.dashboard-users-list td {
    padding: 0.5rem 1rem;
    text-align: left;
}

@media screen and (max-width:575px) {

    .dashboard-users-list td,
    .dashboard-users-list th {
        font-size: 0.9rem;
        padding: 0.3rem 0.6rem;
        max-width: 25vw;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .dashboard-users-list tr:first-of-type td {
        border-top: 1px solid black;
    }
}

/* habitat consultations */









/* Manage comment */
.mana-comments-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mana-comment-container {
    width: 80vw;
    padding: 1rem 1.5rem 1.2rem 0.4rem;
    border-top: 2px solid var(--dark-color);
    display: grid;
    grid-template: repeat(2, 3rem)/ 50% 10% 40%;
    gap: 1.5rem;
}

.mana-comment-pseudo {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 900;
}

.mana-comment {
    grid-area: 2 / 1 / 3 / 3;
}

.mana-comment-date {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    font-size: 0.85rem;
}

.mana-comment-container form {
    grid-area: 1 / 3 / 3 / 4;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.mana-comment-radio {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 650;
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width:800px) {
    .mana-comment-container {
        grid-template: repeat(3, 3rem)/ 80% 20%;
        row-gap: 1rem;
        column-gap: 0;
    }

    .mana-comment-pseudo {
        grid-area: 1 / 1 / 2 / 2;
    }

    .mana-comment {
        grid-area: 2 / 1 / 3 / 3;
    }

    .mana-comment-date {
        grid-area: 1 / 2 / 2 / 3;
    }

    .mana-comment-container form {
        grid-area: 3 / 1 / 4 / 4;
        justify-self: center;
        flex-direction: row;
        justify-items: center;
    }

    .mana-comment-container form>div {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}








/* Account list */
.account-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-list {
    table-layout: auto;
    width: 60vw;
    border-collapse: collapse;
    font-size: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.account-list th {
    font-weight: 700;
    padding-bottom: 1rem;
    text-align: center;
}

.account-list tr:first-of-type td {
    border-top: 2px solid black;
}

.account-list td {
    text-align: center;
    height: 50px;
}

.account-list .button-crud {
    font-size: 80%;
    width: min-content;
}

.account-list-button {
    display: block;
    margin: 0;
    padding-top: 1.5rem;
}

@media screen and (max-width:1350px) {
    .account-list {
        width: 95vw;
    }
}

@media screen and (max-width:630px) {

    .account-list td,
    .account-list th {
        font-size: 0.9rem;
    }

    .account-list tr:first-of-type td {
        border-top: 1px solid black;
    }

    .account-list .button-crud {
        font-size: 60%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}










/* CRUD Window */
.crud-frame {
    max-width: 90vw;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 2rem 3rem 0 3rem;
    border: 1px solid var(--dark-color);
}

.crud-frame form {
    box-sizing: content-box;
}

#btn-close-add-account,
#btn-close-update-account {
    position: absolute;
    top: -0.5%;
    left: 2.5%;
    margin-top: 1rem;
}

.display-form-password {
    display: inline-flex;
}

#checkbox-display-password,
#label-display-password {
    width: max-content;
}

#label-display-password {
    padding-left: 1rem;
}