/* color variable */
:root {
    --primary-color: rgba(85, 107, 47, 1);
    --secondary-color: rgba(139, 154, 87, 1);
    --tertiary-color: rgba(51, 90, 53, 1);
    --dark-color: rgba(58, 55, 48, 1);
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1,
h2 {
    font-family: "Josefin Sans", sans-serif;
}

h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Hind Siliguri", sans-serif;
}

html {
    font-size: 100%;
}

/* Small laptop screen */
@media screen and (max-width:1024px) {
    html {
        font-size: 90%;
    }
}

/* Tablet screen*/
@media screen and (max-width:850px) {
    html {
        font-size: 85%;
    }
}

/* Mobile screen */
@media screen and (max-width:650px) {
    html {
        font-size: 70%;
    }
}

/* 4K screen */
@media screen and (min-width:2200px) {
    html {
        font-size: 140%;
    }
}

.page-title {
    font-size: 3.2rem;
    padding: 2rem 0;
    text-align: center;
    color: var(--dark-color)
}





/* Header */
.navbar {
    background-color: var(--tertiary-color);
}

.logo {
    font-family: "Grandstander", cursive;
    font-size: 2rem;
    color: white;
    margin-right: 2.5rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
}

.header-link {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 0rem 1rem;
}


@media screen and (max-width:991px) {
    .header-link {
        padding: 0.4rem 0rem 0.4rem 0.5rem;
    }
}





/* Footer */
footer {
    width: 100%;
    height: auto;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.adresse-footer,
.horaires-footer {
    text-align: center;
}

.adresse-footer h6,
.horaires-footer h6 {
    font-size: 0.9rem;
}

.adresse-footer p,
.horaires-footer td,
.horaires-footer th,
.copyright {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.horaires-footer th {
    text-align: left;
    padding-right: 1.5rem;
}

.copyright {
    text-align: center;
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 500px) {
    .container-footer {
        flex-direction: column;
        gap: 1rem;
    }

    .horaires-footer table {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}





/* Page not found  */
.unfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unfound-text {
    color: var(--dark-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 3rem;
}

.unfound-img {
    width: 30vw;
    height: auto;
    margin-top: 5rem;
}

@media screen and (max-width:760px) {
    .unfound-img {
        width: 50vw;
    }
}





/* Homepage */
#carousel {
    height: auto;
}

.carousel-img {
    object-fit: cover;
    height: 75vh;
    width: 100vw;
}

.welcome-text {
    height: auto;
    background-color: white;
    color: var(--dark-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    margin: 0;
    padding: 0.5rem 0rem;
}

/*
@media screen and (max-width: 620px) {
    .welcome-text {
        font-size: 1.5rem;
    }
}*/

/* zoo presentation */
.homepage-presentation {
    height: auto;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.homepage-presentation p {
    width: 515px;
    font-size: 1.2rem;
    color: white;
}

.homepage-presentation img {
    object-fit: cover;
    height: 40vh;
    width: auto;
    border-radius: 20px;
}

@media screen and (max-width: 1020px) {
    .homepage-presentation {
        /*flex-direction: column;*/
        gap: 3rem;
    }

    /*
    .homepage-presentation p {
        font-size: 0.8rem;
    }*/

    .homepage-presentation img {
        height: 20vh;
    }
}

/* Habitat presentation */
.homepage-habitat {
    height: auto;
    background-color: var(--primary-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.homepage-habitat h2 {
    font-size: 2rem;
}

.homepage-habitat p {
    width: 70%;
    text-align: center;
}

.homepage-habitat p,
.homepage-habitat h5 {
    font-size: 1.2rem;
}

.hp-hab {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.hp-marais,
.hp-jungle,
.hp-savane {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem
}

.homepage-habitat img {
    object-fit: cover;
    height: 19rem;
    width: 13rem;
    border-radius: 20px;
}

.hp-jungle img {
    object-position: 60%;
}

@media screen and (max-width: 1020px) {

    .hp-hab {
        margin-top: 1rem;
        gap: 5rem
    }

    .homepage-habitat img {
        width: 10rem;
        height: 4.5rem;
    }

    .hp-marais img {
        object-position: 50% 85%;
    }
}

@media screen and (max-width: 650px) {
    .hp-hab {
        margin-top: 1rem;
        flex-direction: column;
        gap: 0.3rem
    }

    /*
    .homepage-habitat h2 {
        font-size: 1.3rem;
    }

    .homepage-habitat p,
    .homepage-habitat h5 {
        text-align: center;
        font-size: 0.8rem;
    }
*/
    .homepage-habitat img {
        width: 160px;
        height: 70px;
    }
}

/* Comments */
/* comment form */
.opinions {
    width: 100%;
    font-family: "Hind Siliguri", sans-serif;
    color: var(--dark-color);
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.form-opinion {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem
}

#comment,
#pseudo {
    width: 100%;
    max-width: 50rem;
    border: none;
    padding: 0.2rem 0.5rem;
    background-color: rgb(227, 227, 227);
    color: var(--dark-color)
}

#comment {
    resize: none;
}

.form-opinion button {
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 2.8rem;
    border: none;
    border-radius: 5px;

}

/* comment lists */
.opinions-lists {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.opinion {
    width: 100%;
    padding: 1rem 1.5rem 1.2rem 1.5rem;
    border-top: 2px solid var(--dark-color);
    display: grid;
    grid-template: repeat(2, 50%)/ 85% 15%;
    row-gap: 1rem;
}

.pseudo {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 900;
}

.date {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
}

.comment {
    grid-area: 2 / 1 / 3 / 3;
}

.pseudo,
.comment,
.date {
    margin: 0;
}





/* Services */
.service {
    margin: 2rem 0rem;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.service:nth-of-type(even) .service-content {
    flex-direction: row-reverse;
}

.service-title {
    margin-bottom: 2rem;
    font-weight: 700;
}

.service-description {
    width: 40vw;
    background-color: var(--tertiary-color);
    height: auto;
    color: white;
    font-size: 1.2rem;
    padding: 2rem;
    border-radius: 5px;
}

.service-img {
    width: 30vw;
    height: auto;
    align-self: center;
}

.service-description-additional {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

@media screen and (max-width:1030px) {

    .service-content,
    .service:nth-of-type(even) .service-content {
        flex-direction: column-reverse;
        /*display: contents;*/

    }

    .service-img,
    .service-description,
    .service-description-additional {
        width: 50vw;

    }
}

@media screen and (max-width:600px) {

    .service-img,
    .service-description,
    .service-description-additional {
        width: 70vw;
    }

    .service-content {
        gap: 1rem;
    }
}







/* Habitats */
.habitats-container {
    margin: 0vh 20vw 10vh 20vw;
    padding-top: 3rem;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    column-gap: 8rem;
    row-gap: 4rem;
    justify-content: center;
}

.habitat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habitat-img {
    width: 16rem;
    height: 40vh;
    object-fit: cover;
    border-radius: 20px;

}

.habitat-label {
    padding-top: 0.5rem;
}

@media screen and (max-width:1000px) {
    .habitats-container {
        grid-template: 1fr/ 1fr 1fr;
    }

    .habitat-img {
        width: 14rem;
        height: 35vh;
    }
}

@media screen and (max-width:500px) {
    .habitats-container {
        grid-template: 1fr/ 1fr 1fr;
        column-gap: 3rem;
    }

    .habitat-img {
        width: 12rem;
        height: 22vh;
    }
}